body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fb9c0d;
  margin-left: 0;
  color: #ffffff;
  opacity: 90%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin-top: 0;
}

nav li {
  /* border: 2px solid yellow; */
  margin: auto;
  width: 80%;
  padding: 2% 0;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  width: 55%;
  /* border: 2px solid green; */
}

.menu {
  /* border: 2px solid green; */
  padding: 0;
  width: 2.5rem;
  margin-left: 10px;
  color: #590140;
  filter: brightness(0) invert(1);
}

.close {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1.25rem;
  color: #590140;
  filter: brightness(0) invert(1);
}

#home {
  /* padding: 0 0 5%; */
}

.img-div {
  margin-top: 4rem;
  padding: 1rem;
}

.skhome {
  /* max-width: 90%; */
  width: 100%;
  /* max-height: 75vh; */
}

.home-msg {
  width: 90%;
  margin: 5% auto;
}

#bigday {
  color: #fff;
  background-color: #ffb03ae5;
  background-image: url('../src/assets/images/rings-gray.png');
  background-position-x: 0%;
  background-position-y: bottom;
  background-size: 310%;
  background-repeat: no-repeat;
  background-blend-mode:overlay;
  padding: 5%;
}

.skbigday {
  display: none;
}

.bold-text {
  font-weight: 700;
}

#gifts {
  padding: 0% 5%;
}

.logos {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  text-align: start;
  margin: auto;
}

.momo {
  width: 80%;
  height: auto;
  border-radius: 30%;
  border: 1px solid black;
}

.pay-deets {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  width: 40%;
  border-radius: 10%;
  padding: 2%;
}

.network {
  font-weight: 700;
}
.pay-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.pay-methods a {
  color: #590140;
}

.paym {
  margin: auto;
  width: 80%;
  border-radius: 30%;
  border: 1px solid black;
}

.paym:hover {
  scale: 1.2;
  transition-duration: 0.5s;
}

@media only screen and (min-width: 768px) {

#home {
  margin: 3rem auto;
  width: 95%;
  display: flex;
  align-items: center;
}

.img-div {
  margin: 0;
}

.skhome {
  border-radius: 10%;
}

.home-heading {
  display: none;
}

button {
  color: #fb9c0d;
  background-color: #fff;
  border: 2px solid #ff9900;
  font-weight: 600;
  padding: 5%;
  margin: 0 1rem 1rem;
  border-radius: 50px;
}

button:hover {
  scale: 1.2;
  background-color: #ff9900;
  color: #fff;
  border: 2px solid #fb9c0d;
  transition-duration: 0.5s;
}

.skbigday {
  display: unset;
  border-radius: 10%;
  width: 90%;
  opacity: 60%;
}

.bigday-deets {
  display: flex;
  align-items: center;
  gap: 1rem;
}


}
